body {
    max-width: 1500px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

header {
    box-sizing: border-box;
    padding: 0 50px;
    max-width: 1500px;
    display: flex;
    background: #e3f1f1;
}

.review__photo {
    width: 100x;
    height: 100px;
    
    margin-top: 25px;
}

.review {
    display: flex;
    gap: 30px;
}
.novigation__link {
    margin-left: 110px;

}
.novigation__tel {
    margin-top: 20px;

}
.colors {
    color:#000000

    #FF0000
    
    #00FF00
    
    #0000FF
    
    #FFFFFF
   
}
.footer__contacts {
    margin-left: 30px;
}